= render "shared/header"

.topMain
  .topMain__visual
    .content
      .content__subtitle
        人生を変えるフリマアプリ
      .content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .content__btn
        = image_tag "btn_appstore.gif", class: "aBtn"
        = image_tag "btn_googleplay.gif",class: "gBtn"

  .topMain__introduction
    .subtitle
      FURIMAが選ばれる3つの理由
    .lists
      .list
        .list__picture
          .number
            1
          = image_tag "pict-reason-01.jpg", class: "listPic"
        .list__text
          .list__text__blue
            3分
          .list__text__black
            ですぐ出品
        .list__description
          スマホで入力するだけで簡単に出品できる！
      .list
        .list__picture
          .number
            2
          = image_tag "pict-reason-02.jpg", class: "listPic"
        .list__text
          .list__text__blue
            シンプル
          .list__text__black
            で使いやすい
        .list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      .listLast
        .listLast__picture
          .number
            3
          = image_tag "pict-reason-03.jpg", class: "lastPic"
        .listLast__text
          .listLast__text__black
            手数料
          .listLast__text__blue
            業界最安
        .listLast__description
          最大3%でお得に出品&購入！

  .topMiddle
    .topMiddle__inner
      .subtitle
        会員数日本一位
      .text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .btn
        = image_tag "btn_appstore.gif", class: "aBtn"
        = image_tag "btn_googleplay.gif",class: "gBtn"

  .topMain__future
    .head
      FURIMAの特徴
    .items
      .item
        = image_tag "icon-01.png", class: "item__img"
        .item__subtitle
          簡単に売り買いできる
        .item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item
        = image_tag "icon-03.png", class: "item__img"
        .item__subtitle
          売上金は即日振り込みに対応
        .item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      .item
        = image_tag "icon-04.png", class: "item__img"
        .item__subtitle
          様々な支払いに対応
        .item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .topMain__pickup
    .head
      ピックアップカテゴリー
    .productBox
      .productHead
        新規投稿商品
      .productLists
        .productLists__main
          
        .productLists__sub
          .productList__body
            .name
            .details
              .money
                10000円
              .tax
                (税込)

  .topMain__pickup
    .head
      ピックアップブランド

    .productBox
      .productHead
        アーカイバ
      .productLists
        .productLists__main
          - @items.each do |item|
            - item.images.each do |image|
              = image_tag image.src.url, class: "productList"
        .productLists__sub
          .productList__body
            .name
              product3
            .details
              .money
                30000円
              .tax
                (税込)

  .topMain__banner
    .inner
      .inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      .inner__text
        今すぐ無料ダウンロード！
      .inner__icon
        = image_tag "btn_appstore.gif", class: "aBtn"
        = image_tag "btn_googleplay.gif",class: "gBtn"


= render "shared/footer"
= render "shared/purchase"
