%h2 会員登録
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .nickname
    = f.label :nickname
    = f.text_field :nickname
  .email
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .password
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} 文字以上の英数字)
    = f.password_field :password, autocomplete: "new-password"
  .passwordComfirm
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .lastName
    = f.label :last_name
    = f.text_field :last_name, autofocus: true, autocomplete: "last_name"
  .firstName
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
  .lastNameKana
    = f.label :last_name_kana
    = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana"
  .firstNameKana
    = f.label :first_name_kana
    = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"
  .tel
    = f.label :tel
    = f.telephone_field :tel, autofocus: true, autocomplete: "tel"
  .zipCode
    = f.label :zip_code
    = f.text_field :zip_code, autofocus: true, autocomplete: "zip_code"
  .prefecture
    = f.label :prefecture
    = f.collection_select :prefecture_id, Prefecture.group(:prefecture).order(id: :asc), :id, :prefecture, {prompt: ""}
  .address
    = f.label :address
    = f.text_field :address, autofocus: true, autocomplete: "address"
  生年月日
  .birthYear
    = f.label :birth_year
    = f.number_field :birth_year, autofocus: true, autocomplete: "birth_year", min:1900, max:2020,value:2000
  .birthMonth
    = f.label :birth_month
    = f.number_field :birth_month, autofocus: true, autocomplete: "birth_month", min:1, max:12,value:1
  .birthDay
    = f.label :birth_day
    = f.number_field :birth_day, autofocus: true, autocomplete: "birth_day", min:1, max:31,value:1
  .actions
    = f.submit "登録"
= render "devise/shared/links"
