= render "shared/header"

%body
  #wrapper
    .wrapper__content
      .wrapper__content__pankuzu
        = link_to "ホーム", root_path
        ＞
        = link_to "ユーザーSHOP"
      .wrapper__content__main
        = link_to "プロフィール編集",root_path, class: "wrapper__content__main__editProfBtn"
        .wrapper__content__main__name
          %img.wrapper__content__main__name__picProf{alt: "profileimage", src: "https://image.shoppies.jp/img_m/noimage-profile.png"}/
          %h1.wrapper__content__main__name__shopName 
            = current_user.nickname
          %p.wrapper__content__main__name__nickName 
            = current_user.nickname
        .wrapper__content__main__shop
          .shopCredit
            = link_to "クレジット登録&削除", pay_card_index_path, class: "cardPath"
        %a.wrapper__content__main__evaluations{href: "#"}
          %p 評価：
          %img.wrapper__content__main__evaluationsIcon{alt: "goodsmile", src: "https://image.shoppies.jp/img_m/icon_good.png"}/
          %p.wrapper__content__main__evaluationsGood 良い
          %p.wrapper__content__main__evaluationsCnt 0
          %img.wrapper__content__main__evaluationsSmile{alt: "normalsmile", src: "https://image.shoppies.jp/img_m/icon_normal.png"}/
          %p.wrapper__content__main__evaluationsNormal ふつう
          %p.wrapper__content__main__evaluationsCnt 0
          %img.wrapper__content__main__evaluationsSmile{alt: "badsmile", src: "https://image.shoppies.jp/img_m/icon_bad.png"}/
          %p.wrapper__content__main__evaluationsBad 悪い
          %p.wrapper__content__main__evaluationsCnt 0
          %p.wrapper__content__main__evaluationsDealCnt 取引数：0
          -# ボタンを押したらいいねでカウントが増える
        .wrapper__content__main__likeBtn
          %input.wrapper__content__main__likeBtnShop{alt: "likebtn", src: "https://image.shoppies.jp/img_m/suki_off.png", type: "image", value: "1"}/
        .wrapper__content__main__likeCnt
          0
      %br

      .wrapper__content__page
        .wrapper__content__page__select
          .wrapper__content__page__select__navi
            = paginate @items


      %section#wrapper__content__goods
        - current_user.items.each do |item|
          = link_to item_path(item.id) do
            .wrapper__content__goods__block
              - item.images.first(1).each do |image|
                = image_tag image.src.url, class: "myImage"
                %img.wrapper__content__goods__blockLinkImg
                .wrapper__content__goods__block__info
                  %p.wrapper__content__goods__block__infoBrand
                    = item.name
                  %p.wrapper__content__goods__block__infoPrice
                    = item.price
                    円（税込）
                  .wrapper__content__goods__block__infoFlex
                    %p#item_204626156.wrapper__content__goods__block__infoFlex__like
                      %img{alt: "", src: "https://image.shoppies.jp/img_m/sicon_suki_off.gif"}/
                      %span 0
                    %p.wrapper__content__goods__block__infoFlex__comment
                      %img{alt: "", src: "https://image.shoppies.jp/img_m/sicon_qa_on.gif"}>/
                      0
                    .wrapper__content__goods__block__infoFlex__likeBtn
                      %input#204626156.likeBtn{alt: "1", src: "https://image.shoppies.jp/img_m/icon_suki_off.gif", type: "image", value: "0"}/

= render "shared/footer"
= render "shared/purchase"