-# ヘッダー
.header
  .header__inner
    .header__main
      .header__main__icon
        = link_to root_path do
          = image_tag "logo.png", class: "topLogo"
      .header__main__seachBox
      = form_with(url:searches_path, method: :get, local: true) do |from|
        = text_field_tag :search, "",placeholder:"商品名から探す"
        = image_tag "icon-search 1.png", class: "topSearch"
        = submit_tag 'search', :name => nil, class: "btnSearch"

        
    .header__inner__nav
      .listLeft
        .category__box
          カテゴリー
          -# %ul.parent__top
          -#   - Category.where('ancestry IS NULL').each do |main_category|
          -#     %li= link_to "#{main_category.name}", "/category/#{main_category.id}","data-id": "#{main_category.id}",class: "maincategory"
          -#     - main_category.children.each do |child|
          -#       - child.children.each do |children|
          -#         %ul.parent__list
          -#           %li= link_to "#{child.name}", "/category/#{child.id}","data-id": "#{child.id}",class: "childcategory"
          -#         %ul.child__list
          -#           %li= link_to "#{children.name}", "/category/#{children.id}","data-id": "#{children.id}",class: "childrencategory"
        .header__bland
          ブランド
      .listRight
        -if user_signed_in?
          = link_to user_path(current_user.id), class: "header__mypage" do
            = current_user.nickname
          = link_to destroy_user_session_path,method: :delete, class: "header__register" do
            ログアウト
        -else
          = link_to new_user_session_path,class: "header__login" do
            ログイン
          = link_to new_user_registration_path, class: "header__register" do
            新規会員登録