-# ヘッダー
.header
  .header__inner
    .header__main
      .header__main__icon
        = image_tag "logo.png", class: "topLogo"
      .header__main__seachBox
        = form_with local: true do |f|
          = f.text_field :text, class: 'text', placeholder: 'キーワードから探す'
      .header__main__seachBtn
        = image_tag "icon-search 1.png", class: "topSearch"
    .header__inner__nav
      .listLeft
        .header__category
          カテゴリー
        .header__bland
          ブランド
      .listRight
        -if user_signed_in?
          = link_to mypage_path, class: "header__mypage" do
            = current_user.nickname
          = link_to destroy_user_session_path,method: :delete, class: "header__register" do
            ログアウト
        -else
          = link_to new_user_session_path,class: "header__login" do
            ログイン
          = link_to new_user_registration_path, class: "header__register" do
            新規会員登録