= render "shared/header"

.purchaseNew
  .purchaseNew__content
    .purchaseNew__content__flex
      .top
        .top__left
          = image_tag "https://image.shoppies.jp/img_m/title_p_step0.gif", alt:"order", class:"top__left__image"
          .top__left__text
            この商品を注文します。
            %br
            注文受領されると、この商品を購入できるようになります。
        .top__right
          = link_to "#", alt:"guide", class:"top__right__link" do
            =icon('fas', 'book-open')
            %span.text 取引ガイド

    .purchaseNew__content__box
      -# - breadcrumb :order
      -# = breadcrumbs pretext: "",separator: " &rsaquo; "
      = form_with model:[@item,@order], local: true, class: "form" do |f|
        .item
          - @item.images.each do |image|
            = image_tag image.src.url, class:"item__image"
          .item__title
            = @item.name
          .item__info
            .price
              = @item.price
              円
            .fee
              送料込み(出品者が払う)
        .userInfo
          = image_tag "https://image.shoppies.jp/img_m/img_exhibitor_gray.png", alt:"出品者", class:"userInfo__icon" 
          .userInfo__left
            .title
              配送先
            .detail#existenceInfo
              .detail__top
                .lastName
                  = f.label :last_name_receiver,"姓"
                  = session[:last_name_receiver]
                  = f.hidden_field :last_name_receiver, value: "#{session[:last_name_receiver]}"
              .detail__top
                .firstName
                  = f.label :first_name_receiver,"名"
                  = session[:first_name_receiver]
                  = f.hidden_field :first_name_receiver, value: "#{session[:first_name_receiver]}"
              .detail__top
                .lastNameKana
                  = f.label :last_name_kana_receiver,"せい"
                  = session[:last_name_kana_receiver]
                  = f.hidden_field :last_name_kana_receiver, value: "#{session[:last_name_kana_receiver]}"

              .detail__top
                .firstNameKana
                  = f.label :first_name_kana_receiver,"めい"
                  = session[:first_name_kana_receiver]
                  = f.hidden_field :first_name_kana_receiver, value: "#{session[:first_name_kana_receiver]}"
              .detail__top
                .tel
                  = f.label :tel_receiver,"電話番号"
                  = session[:tel_receiver]
                  = f.hidden_field :tel_receiver, value: "#{session[:tel_receiver]}"
              .detail__top
                .zipCode
                  = f.label :zip_code_receiver,"郵便番号"
                  =  session[:zip_code_receiver]
                  = f.hidden_field :zip_code_receiver, value: "#{session[:zip_code_receiver]}"
              .detail__top
                .prefecture
                  = f.label :prefecture_id,"都道府県"
                  = @prefecture.prefecture
                  = f.hidden_field :prefecture_id, value: "#{session[:prefecture_id]}"
              .detail__top
                .address
                  = f.label :address_receiver, "住所"
                  = session[:address_receiver]
                  = f.hidden_field :address_receiver, value: "#{session[:address_receiver]}"

              .detail__top
                .payment
                  = f.label :payment_id, "支払い方法"
                  = @payment.method
                  = f.hidden_field :payment_id, value: "#{session[:payment_id]}"
                .credit
                  = "**** **** **** " + @default_card_information.last4
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  = exp_month + " / " + exp_year

              .detail__bottom
                ※送付先住所は、商品代金を支払うまでは、都道府県のみが出品者に伝わります。
          .userInfo__right
            .seller
              .seller__top
                = link_to @item_user_mypage_index_path, alt:"evaluation", class:"link" do
                  = image_tag "default.jpg", class:"link__image"
                  .link__box
                    .link__box__name
                      = @item.user.nickname
                    .link__box__comment
                      購入前コメントくださいm(__)m
                  =icon('fas', 'angle-right',class:"link__icon")
              .seller__evaluation
                = link_to "#", alt:"evaluation", class:"link" do
                  .link__box
                    = image_tag "https://image.shoppies.jp/img_m/icon_good.png", alt:"good", class:"image1" 
                    %span.count
                      57
                    = image_tag "https://image.shoppies.jp/img_m/icon_normal.png", alt:"normal", class:"image2" 
                    %span.count
                      1
                    = image_tag "https://image.shoppies.jp/img_m/icon_bad.png", alt:"bad", class:"image3"
                    %span.count 
                      0
                  =icon('fas', 'angle-right',class:"link__icon")
              .seller__bottom
                過去に1回購入しました
                %br
                過去に1回販売しました
            .text
              ※お支払いの際、別途決済手数料がかかります。
        .commission
          .commission__flex
            .commission__flex__title
              決済手数料
            .commission__flex__box
              .name
                コンビニ
              .fee
                ¥200
            .commission__flex__box
              .name
                ATM(郵便局/銀行)
              .fee
                ¥200
            .commission__flex__box
              .name
                クレジットカード(Visa/Master)
              .fee
                ¥200
            .commission__flex__box
              .name
                nanacoギフト支払い
              .fee
                ¥200
            .commission__flex__box
              .name
                全額所持金支払い
              .fee
                ¥0

        .btn
          = link_to "修正する", :back,class:"modify"
          = f.submit "購入確定", class:"submit"

= render "shared/footer"
= render "shared/purchase"

