= render "shared/header"

.purchase
  .purchase__content
    .purchase__content__flex
      .top
        .top__left
          = image_tag "https://image.shoppies.jp/img_m/title_p_step0.gif", alt:"order", class:"top__left__image"
          .top__left__text
            この商品を注文します。
            %br
            注文受領されると、この商品を購入できるようになります。
        .top__right
          = link_to "#", alt:"guide", class:"top__right__link" do
            =icon('fas', 'book-open')
            %span.text 取引ガイド
    .purchase__content__box
      = form_with model:[@item,@order], local: true, class: "form" do |f|
        .item
          - @item.images.each do |image|
            = image_tag image.src.url, class:"item__image"
          .item__title
            = @item.name
          .item__info
            .price
              = @item.price
              円
            .fee
              送料込み(出品者が払う)
        .userInfo
          = image_tag "https://image.shoppies.jp/img_m/img_exhibitor_gray.png", alt:"出品者", class:"userInfo__icon" 
          .userInfo__left
            .title
              配送先
            .detail#existenceInfo
              .detail__top
                .lastName
                  = f.label :last_name_receiver,"姓"
                  = f.text_field :last_name_receiver, autofocus: true, autocomplete: "last_name",value: @item.user.last_name
              .detail__top
                .firstName
                  = f.label :first_name_receiver,"名"
                  = f.text_field :first_name_receiver, autofocus: true, autocomplete: "first_name",value: @item.user.first_name
              .detail__top
                .lastNameKana
                  = f.label :last_name_kana_receiver,"せい"
                  = f.text_field :last_name_kana_receiver, autofocus: true, autocomplete: "last_name_kana",value: @item.user.last_name_kana
              .detail__top
                .firstNameKana
                  = f.label :first_name_kana_receiver,"めい"
                  = f.text_field :first_name_kana_receiver, autofocus: true, autocomplete: "first_name_kana",value: @item.user.first_name_kana
              .detail__top
                .tel
                  = f.label :tel_receiver,"電話番号"
                  = f.telephone_field :tel_receiver, autofocus: true, autocomplete: "tel",value: @item.user.tel
              .detail__top
                .zipCode
                  = f.label :zip_code_receiver,"郵便番号"
                  = f.text_field :zip_code_receiver, autofocus: true, autocomplete: "zip_code",value: @item.user.zip_code
              .detail__top
                .prefecture
                  = f.label :prefecture_id,"都道府県"
                  = f.collection_select :prefecture_id, Prefecture.group(:prefecture).order(id: :asc), :id, :prefecture, {prompt: "選択してください",selected: @item.user.prefecture}
              .detail__top
                .address
                  = f.label :address_receiver, "住所"
                  = f.text_field :address_receiver, autofocus: true, autocomplete: "address",value: @item.user.address

              .detail__top
                .payment
                  = f.label :payment_id, "支払い方法"
                  = f.collection_select :payment_id, Payment.group(:method).order(id: :asc), :id, :method, {prompt: "選択してください"}

              -# = link_to "#", alt:"新規情報を登録する", class:"detail__btn",id:"newBtn" do
              -#   新規情報を登録する
              .detail__bottom
                ※送付先住所は、商品代金を支払うまでは、都道府県のみが出品者に伝わります。
          .userInfo__right
            .seller
              .seller__top
                = link_to @item_user_mypage_index_path, alt:"evaluation", class:"link" do
                  = image_tag "default.jpg", class:"link__image"
                  .link__box
                    .link__box__name
                      = @item.user.nickname
                    .link__box__comment
                      購入前コメントくださいm(__)m
                  =icon('fas', 'angle-right',class:"link__icon")
              .seller__evaluation
                = link_to "#", alt:"evaluation", class:"link" do
                  .link__box
                    = image_tag "https://image.shoppies.jp/img_m/icon_good.png", alt:"good", class:"image1" 
                    %span.count
                      57
                    = image_tag "https://image.shoppies.jp/img_m/icon_normal.png", alt:"normal", class:"image2" 
                    %span.count
                      1
                    = image_tag "https://image.shoppies.jp/img_m/icon_bad.png", alt:"bad", class:"image3"
                    %span.count 
                      0
                  =icon('fas', 'angle-right',class:"link__icon")
              .seller__bottom
                過去に1回購入しました
                %br
                過去に1回販売しました
            .text
              ※お支払いの際、別途決済手数料がかかります。
        .commission
          .commission__flex
            .commission__flex__title
              決済手数料
            .commission__flex__box
              .name
                コンビニ
              .fee
                ¥200
            .commission__flex__box
              .name
                ATM(郵便局/銀行)
              .fee
                ¥200
            .commission__flex__box
              .name
                クレジットカード(Visa/Master)
              .fee
                ¥200
            .commission__flex__box
              .name
                nanacoギフト支払い
              .fee
                ¥200
            .commission__flex__box
              .name
                全額所持金支払い
              .fee
                ¥0
        = f.submit "確認", class:"submit"
= render "shared/footer"
= render "shared/purchase"

