.newItem
  .header 
  .content
    = form_with model: @item, local:true, class:"content__wrapper" do |f|
      .content__wrapper__title 
        %h2.content__wrapper__title__text 出品
        .content__wrapper__title__detail 商品情報を入力してください
      .imageError ※写真を追加してください
      .content__wrapper__box
        .content__wrapper__box__left
          .content__wrapper__box__left__image
            = f.fields_for :images do |i|
              %label{for: "item_images_attributes_0_src", id: "labelBox--0"}
                = i.file_field :src, class: "hiddenField"
                .content__wrapper__box__left__image__main
                  .imageLabel--0
                    .cameraIcon0
                      .cameraIcon0__plus
                        +
                      .cameraIcon0__text
                        １枚目(メイン)の商品写真になります。
              .content__wrapper__box__left__image__sub
                %label{for: "item_images_attributes_1_src",id: "labelBox--1"}
                  %input{class:"hiddenField", type: "file", name: "item[images_attributes][1][src]", id: "item_images_attributes_1_src" }
                  .imageLabel--1
                    = icon('fas', 'camera',class:"cameraIcon1")
                %label{for: "item_images_attributes_2_src",id: "labelBox--2"}
                  %input{class:"hiddenField", type: "file", name: "item[images_attributes][2][src]", id: "item_images_attributes_2_src" }
                  .imageLabel--2
                    = icon('fas', 'camera',class:"cameraIcon2")
                %label{for: "item_images_attributes_3_src",id: "labelBox--3"}
                  %input{class:"hiddenField", type: "file", name: "item[images_attributes][3][src]", id: "item_images_attributes_3_src" }
                  .imageLabel--3
                    = icon('fas', 'camera',class:"cameraIcon3")
          .content__wrapper__box__left__price
            .content__wrapper__box__left__price__main
              .content__wrapper__box__left__price__main__text 商品価格
              = f.text_field :price, class:"content__wrapper__box__left__price__main__input", placeholder: "300~50,000"
              円
            .content__wrapper__box__left__price__sub
              .content__wrapper__box__left__price__sub__left
                .content__wrapper__box__left__price__sub__left__text 決済手数料
                %span.content__wrapper__box__left__price__sub__left__span 0
                円
              .content__wrapper__box__left__price__sub__right
                .content__wrapper__box__left__price__sub__right__text 付与予定売上
                %span.content__wrapper__box__left__price__sub__right__span 0
                円
          .content__wrapper__box__left__option 
            .content__wrapper__box__left__option__title その他オプション
            .content__wrapper__box__left__option__price
              .content__wrapper__box__left__option__price__left 価格設定
              .content__wrapper__box__left__option__price__right
                %input.content__wrapper__box__left__option__price__right__input{name: "price", type: "checkbox"} 
                .content__wrapper__box__left__option__price__right__text 価格を未設定にする
            .content__wrapper__box__left__option__quantity
              .content__wrapper__box__left__option__quantity__left 数量
              .content__wrapper__box__left__option__quantity__right
                %input.content__wrapper__box__left__option__quantity__right__input{name: "price", type: "checkbox"} 
                .content__wrapper__box__left__option__quantity__right__text 同じ商品を複数出品する
            .content__wrapper__box__left__option__item
              .content__wrapper__box__left__option__item__left 専用出品
              %input.content__wrapper__box__left__option__item__right{type: "button", value: "取引相手を選択する"}
            .content__wrapper__box__left__option__guide
              %i.fas.fa-question-circle
              .content__wrapper__box__left__option__guide__text その他のオプションガイド
        .content__wrapper__box__right
          .content__wrapper__box__right__name
            .content__wrapper__box__right__name__left 商品名
            = f.text_field :name, class:"content__wrapper__box__right__name__right", placeholder: "30文字以内で入力", maxlength: "30",required: true
          .content__wrapper__box__right__description
            .content__wrapper__box__right__description__left 商品説明
            = f.text_area :description, class:"content__wrapper__box__right__name__right", placeholder: "2048文字以内で入力", maxlength:"2048",required: true
          .content__wrapper__box__right__category
            .content__wrapper__box__right__category__left カテゴリー
            .content__wrapper__box__right__category__right
              -# = f.collection_select :category_id, Category.group(:name).order(id: :asc), :id, :name, {prompt: "カテゴリーを選択する"}, id:"parent_category"
              = f.collection_select :category_id, @parents.order(id: :asc) , :id, :name, {prompt: "カテゴリーを選択する"}, id:"parent_category"
          .content__wrapper__box__right__brand
            .content__wrapper__box__right__brand__left ブランド
            .content__wrapper__box__right__brand__right
              = f.collection_select :brand_id, Brand.group(:name).order(id: :asc), :id, :name, {prompt: "選択してください"},id:"newSelect,brandSelect"
          .content__wrapper__box__right__size
            .content__wrapper__box__right__size__left サイズ
            .content__wrapper__box__right__size__right
              = f.collection_select :size_id, Size.group(:size).order(id: :asc), :id, :size, {prompt: "選択してください"},id:"newSelect,sizeSelect"
          .content__wrapper__box__right__status
            .content__wrapper__box__right__status__left 状態
            .content__wrapper__box__right__status__right
              = f.collection_select :condition_id, Condition.group(:condition).order(id: :asc), :id, :condition, {prompt: "選択してください"},id:"newSelect"
          .content__wrapper__box__right__shippingFee 
            .content__wrapper__box__right__shippingFee__left 配送料
            .content__wrapper__box__right__shippingFee__right
              = f.collection_select :shipping_fee_id, ShippingFee.group(:fee).order(id: :asc), :id, :fee, {prompt: "選択してください"},id:"newSelect"
          .content__wrapper__box__right__deliveryMethod
            .content__wrapper__box__right__deliveryMethod__left 配送方法
            .content__wrapper__box__right__deliveryMethod__right
              = f.collection_select :method, ShippingMethod.all, :name, :name, prompt: "選択してください"
          .content__wrapper__box__right__prefecture
            .content__wrapper__box__right__prefecture__left 出品地域
            .content__wrapper__box__right__prefecture__right
              -# = current_user.prefecture.prefecture
              = f.collection_select :prefecture_id, Prefecture.group(:prefecture).order(id: :asc), :id, :prefecture, {prompt: "選択してください"},id:"newSelect"
          .content__wrapper__box__right__deliveryDay
            .content__wrapper__box__right__deliveryDay__left 発送日の目安
            .content__wrapper__box__right__deliveryDay__right
              = f.collection_select :delivery_date_id, DeliveryDate.group(:date).order(id: :asc), :id, :date, {prompt: "選択してください"},id:"newSelect"
      .content__wrapper__confirmation
        = f.submit :name, class:"content__wrapper__confirmation__button", value: "確認"
  = render "shared/footer"

