= render "shared/header"

.main
  .main__all
    .main__all__content
      .main__all__content__image
        .main__all__content__image__main 
          .main__all__content__image__main__title
            = @item.name
          .main__all__content__image__main__image
            - @item.images.first(1).each do |image|
              = image_tag image.src.url
          .main__all__content__image__main__sub
            - @item.images.each do |image|
              = image_tag image.src.url
        .main__all__content__image__price
          = @item.price
        .main__all__content__image__fee (税込)送料込み
        .main__all__content__image__button
          - if user_signed_in? && current_user.id == @item.user_id
            %button= link_to "編集", edit_item_path(@item), class: "main__all__content__image__button__edit"
            %button= link_to "削除", item_path(@item.id), method: :delete, class: "main__all__content__image__button__delete"
          - elsif @item.order.present?
            売り切れ
          - else
            %button= link_to "購入する", item_orders_path(@item), class: "main__all__content__image__button__purchase"


      .main__all__content__product
        .main__all__content__product__title
          = @item.description
        .main__all__content__product__name
          .main__all__content__product__name__title 出品者
          .main__all__content__product__name__text
            = @item.user.nickname
        .main__all__content__product__category
          .main__all__content__product__category__title カテゴリー
          .main__all__content__product__category__text
            = @item.category.name
        .main__all__content__product__brand
          .main__all__content__product__brand__title ブランド
          .main__all__content__product__brand__text
            - if @item.brand.present? 
              = @item.brand.name
            - else
              指定なし
        .main__all__content__product__size
          .main__all__content__product__size__title サイズ
          .main__all__content__product__size__text
            - if @item.size.present?
              = @item.size.size
            - else
              指定なし
        .main__all__content__product__status
          .main__all__content__product__status__title 商品の状態
          .main__all__content__product__status__text
            = @item.condition.condition
        .main__all__content__product__shoppingFee
          .main__all__content__product__shoppingFee__title 配送料の負担
          .main__all__content__product__shoppingFee__text
            = @item.shipping_fee.fee
        .main__all__content__product__prifecture
          .main__all__content__product__prifecture__title 発送元の地域
          .main__all__content__product__prifecture__text
            = @item.prefecture.prefecture
        .main__all__content__product__deliveryDay
          .main__all__content__product__deliveryDay__title 発送日の目安
          .main__all__content__product__deliveryDay__text
            = @item.delivery_date.date

    .main__all__option
      .main__all__option__left
        .main__all__option__left__icon
          -# %i.fa.fa-star
          -# = link_to "お気に入り 0", "#", class: "main__all__option__left__text"
          .like いいね
          #likes_buttons{id: @item.id}
            = render partial: 'likes/like', locals: {item: @item, likes: @likes}
      .main__all__option__right
        .main__all__option__right__icon
          %i.fa.fa-flag
        = link_to "不適切な商品の通報", "#", class: "main__all__option__right__text"
    .main__all__blank
    .main__all__comment
      %input.main__all__comment__form{name: "comment", type: "textarea", value: ""}
      .main__all__comment__text
        .main__all__comment__text__up 相手のことを考え丁寧なコメントを心がけましょう。
        .main__all__comment__text__down 不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.main__all__comment__button{name: "button", type: "submit"}
        %i.fa.fa-comment
        .main__all__comment__button__text 
          = link_to "コメントする"
    .main__all__list
      .main__all__list__left 
        .main__all__list__left__icon
        %i.fa.fa-angle-left
        .main__all__list__left__text 前の商品
      .main__all__list__right
        .main__all__list__right__text 後の商品
        .main__all__list__right__icon
        %i.fa.fa-angle-right

    = link_to "#{@item.category.name}をもっと見る", "#", class: "main__all__bottomlist"

= render "shared/footer"
= render "shared/purchase"
